*{
  margin: 0;
  padding: 0;
}

:root{
  --dark: #04151f;
  --light: #F7DBA7;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fce781;
  height: 35px;
}
.header h1{
  width: auto;
  color: #04151f;
}

.title {
  font-size: 40px;
  color: var(--light);
  margin: auto;
  margin-bottom: 40px;
  display: table;
  padding: 0px 3vh;
  border-bottom: 3px solid var(--light);
}

h1 {font-size: 22px; color: #F7DBA7;}
h2 {font-size: 18px; color: white;}
h3{font-size: 16.5px;color: white;}
a{text-decoration: none;color: var(--light);}

.separateur{
  margin: 5vh auto;
  border-top: 5px solid var(--light);
  width: 85%;
}

/*----- GALLERY -------------------------------------------------------------------------------------------------------------------------------*/

.gallery{
  background: linear-gradient(180deg, #04151f 0%,#020c12 100%);
  padding: 10vh 0vh;
}

.gallery .nav{
  padding: 10px 20px;
  background-color: #fce781;
  border: none;
  margin: auto;
  width: 50%;
}

.gallery .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  gap: 10px;
}
.gallery .col{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 1vh;
  margin-bottom: 40px;
}
.gallery img {
  width: auto;
  max-height: 400px;
  transition: 0.25s ease-in-out;
  object-fit: cover;
}
.gallery img:hover{
  transform: scale(1.2);
}
.gallery iframe{
  width: 711.11px; height: 400px;
}
.gallery h1{
  font-size: 24px; text-align: center; color: #eaecee; text-shadow: 0 0 5px rgba(234, 236, 238, 0.5);
}
.gallery h2{
  font-size: 18px; text-align: right; color: #04151f; background-color: #fce781; border-radius: 5px; padding: 5px 13px;
}
.gallery h3{
  font-size: 16px; text-align: right; color: #74767d;
}
.gallery a{
  display: inline-block; overflow: hidden;
}
.gallery p{
  font-size: 18px; text-align: left; color: #eaecee; line-height: 20pt; font-family: myFont;
}

button{
  margin: auto;
  border: none;
  padding: 5px 20px;
  font-size: 14px;
  color: #04151f;
  background-color: #fce781;
  cursor: pointer;
}
dialog button{
  position: absolute; top: 0; right: 0;
}
dialog{
  z-index: 1;
  position: fixed;
  box-shadow: 0px 0px 50vh 100vh rgba(0,0,0,0.9);
  border: none;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: auto;
  padding: 40px;
  background-color: #04151f;
}
dialog div{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
dialog .tags{
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 10px;
}
dialog h3{
  position: absolute;
  bottom: 0; right: 0;
  margin: 10px;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/

.animations3D{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--light);
  padding: 2% 0%;
}
.animations3D div{
  height: 500px;
  width: 40%;
  padding: 1%;
  margin: 1vh 2vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  text-align: center;
  background-color: var(--dark);
}
.animations3D iframe{
  margin: auto;
  height: 75%;
  width: 90%;
}
@media only screen and (max-width: 1500px) {
.animations3D div{
  width: 80%;
}}
@media only screen and (max-width: 1500px) {
  .animations3D iframe{
    height: 60%;
  }}

/*------------------------------------------------------------------------------------------------------------------------------------*/

.images3D{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding: 0;
    background-color: var(--light);
    padding: 2% 0%;
}
.images3D div{
    overflow: hidden;
    margin: 1vh;
    position: relative;
    background-color: var(--dark);
}
.images3D img{
    width: auto;
    max-height: 400px;
    transition: 0.25s ease-in-out;
    display: block;
    object-fit: cover;
}
@media only screen and (max-width: 1000px) {
  .gallery img {margin: auto; width: 90%;
}}

/*------------------------------------------------------------------------------------------------------------------------------------*/

.posters{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding: 0;
    background-color: var(--light);
    padding: 2% 0%;
}
.posters div{
  max-height: 400px;
  overflow: hidden;
  margin: 1vh;
  position: relative;
  background-color: var(--dark);
}
.posters img{
  width: 100%;
  height: 100%;
  transition: 0.25s ease-in-out;
  display: block;
  object-fit: cover;
}
/* @media only screen and (max-width: 1000px) {
  .posters img {margin: auto; width: 90%;
}} */

/*------------------------------------------------------------------------------------------------------------------------------------*/

.other{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding: 0;
    background-color: var(--light);
    padding: 2% 0%;
}
.other div{
    overflow: hidden;
    margin: 1vh;
    position: relative;
    background-color: var(--dark);
}
.other img{
    width: 100%;
    max-height: 400px;
    transition: 0.25s ease-in-out;
    display: block;
    object-fit: cover;
}
@media only screen and (max-width: 1000px) {
  .other img {margin: auto; width: 90%;
}}

/*------------------------------------------------------------------------------------------------------------------------------------*/

.reseaux{
  padding: 4vh;
  background-color: var(--light);
}
.reseaux div{
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
}
.reseaux img{
  height: 6vh;
}

.danganronpa{
  background-color: grey;
}
.danganronpa .menu{
  padding: 20px;
  background-color: green;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}